<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<skroutz>
			<general>
				<enabled/>
			</general>
			<product_collection>
				<brand_attribute>manufacturer</brand_attribute>
			</product_collection>
		</skroutz>
	</default>
</config>